<launch>
<param name="ip" value="12"/>
<node pkg="rosmip" type="rosmip.exe" name="rosmip" required="true" output="screen"
      args="_device_mac:=00:19:0E:16:AF:22  _mip_mac:=D0:39:72:B7:AF:66"
/>

<!--
<node pkg="rqt_plot" type="rqt_plot" name="odom_plot"
      args="/rosmip/odometer_reading/data"/>
-->
<node pkg="rqt_plot" type="rqt_plot" name="absspeed_plot"
      args="/rosmip/absspeed/data"/>
</launch>
